<div id="mainMenu" class="header">
    <div id="items-container" class="header_menuitems--container">
       <ul class="header_menuitems--list">
          <li><a class="" (click) = "navigateToPages('home')">
             <span class="itemName">Home</span>
             </a>
          </li>
          <li><a class="" (click) = "navigateToPages('about')">
             <span class="itemName">About us</span>
             </a>
          </li>
          <li><a class="" (click) = "navigateToPages('careers')">
             <span class="itemName">Careers</span>
             </a>
          </li>
       </ul>
    </div>
 </div>