.header{
    position:fixed;
    top:0;
    width:calc(100% - 200px);
    background: black;
    color:white;
    height: 60px;
    ul {
        float: right;
        li {
            display: inline-block;
            list-style-type:none;
            padding:10px;
            a{
                cursor: pointer;
            }            
        }
    }

}