<div id="sideMenu" class="sidemenu">
    <div id="items-container" class="sidemenu_items--container">
      <h3> Payment Methods</h3>
       <ul class="sidemenu_items--list">
          <li><a class="" (click) = "navigateToPages('accountTransfer')">
             <span class="itemName">Account Transfer</span>
             </a>
          </li>
          <li><a class="" (click) = "navigateToPages('upi')">
             <span class="itemName">UPI Payments</span>
             </a>
          </li>
          <li><a class="" (click) = "navigateToPages('cardPayment')">
             <span class="itemName">Card Payment</span>
             </a>
          </li>
       </ul>
    </div>
 </div>